#colorsDivHead {
  width: 200px;
  height: 40px;
  background-color: rgb(244, 164, 208);
  display: block;
  font-size: x-large;
  text-align: center;
  margin-left: 100px;
  margin-top: 150px;
}

.colorSchemaDiv {
  width: 700px;
  background-color: aliceblue;
  border: 3px solid rgb(164, 164, 244);
  margin: auto;
  padding: 50px;
  font-size: large;
}

.colorSchemaDiv div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroColors div {
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.hc1 {
  background-color: rgb(244, 164, 208);
}

.hc2 {
  background-color: rgb(153, 197, 255);
}

.secondaryColors div {
  width: 100px;
  height: 100px;
  margin-left: 10px;
}

.sc1 {
  background-color: rgb(223, 212, 212);
}
.sc2 {
  background-color: rgb(164, 164, 244);
}
.sc3 {
  background-color: rgb(255, 251, 209);
}
.sc4 {
  background-color: rgb(153, 242, 152);
}
.sc5 {
  background-color: rgb(231, 132, 115);
}
