#contact {
  width: 600px;
  background-color: aliceblue;
  border: 3px solid rgb(164, 164, 244);
  margin-left: 200px;
  font-size: large;
  margin-top: 150px;
}

#contact div {
  padding-left: 20px;
  margin-top: 20px;
}
#contact button {
  width: 100px;
}

legend {
  font-size: x-large;
}

fieldset {
  margin: 20px;
}

.fields {
  display: none;
  background: rgb(244, 164, 208);
  width: 200px;
  list-style-position: inside;
  padding-top: 2px;
  border: 2px solid rgb(244, 164, 208);
}
.contactForm:hover .fields {
  display: grid;
  padding: 0;
}

.fields li:hover {
  background-color: rgb(153, 197, 255);
}
