#loadersHead {
    width: 90px;
    height: 40px;
    background-color: rgb(244, 164, 208);
    display: block;
    font-size: x-large;
    text-align: center;
    margin-left: 300px;
    margin-top: 150px;
  }

  .loadersDiv {
    width: 350px;
    height: 250px;
    background-color: aliceblue;
    border: 3px solid rgb(164, 164, 244);
    margin: auto;
    /* position: relative; */
    padding: 50px;
    font-size: large;
  }

  .loadersDiv div{
    /* padding: 30px; */
    display: inline-block;
    /* margin: auto; */
  }


.loaderTypes {
    display: none;
    background: rgb(244, 164, 208);
    width: 260px;
    list-style-position: inside;
    padding-top: 2px;
    border: 2px solid rgb(244, 164, 208);
}    

.Loaders:hover .loaderTypes {
    display: grid;
    padding: 0;
}

.loaderTypes li:hover{
    background-color: rgb(153, 197, 255);
}

  .loader1{
  border: 16px solid rgb(223, 212, 212);
  border-radius: 50%;
  border-top: 16px solid rgb(153, 197, 255);
  border-bottom: 16px solid rgb(153, 197, 255);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
  /* display: inline-block; */
  /* padding: 20px; */
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* loader with hidden borders */
.loader2 {
    width: 80px;
    height: 80px;
    border: 3px solid rgb(153, 197, 255);
    border-radius: 50%;
    margin-top: 50px;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader2::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: rgb(244, 164, 208);
    width: 16px;
    height: 16px;
    transform: translate(-50%, 50%);
    border-radius: 50%;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  