.mainPanel {
    background-color: aliceblue;
    width: 100%;
    height: 50px;
    border: rgb(164, 164, 244) 2px solid;
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    position: relative;
  }

  .mainPanel img {
      width: 35px;
      height: 35px;
      filter: invert(78%) sepia(16%) saturate(1404%) hue-rotate(290deg) brightness(103%) contrast(91%);
      margin-left: 10px;
      margin-top: 3px;
  }
  
  .mainPanel span {
  margin-left: 10px;
  }
