/* this for li messages in menylist */
.messagesDiv a {
  text-decoration: none;
  color: black;
}

.messageTypes {
  display: none;
  background: rgb(244, 164, 208);
  width: 260px;
  list-style-position: inside;
  padding-top: 2px;
  border: 2px solid rgb(244, 164, 208);
}

.messages:hover .messageTypes {
  display: grid;
  padding: 0;
}

.messageTypes li:hover {
  background-color: rgb(153, 197, 255);
}

/* the head of messages div in details */
#messagesHead {
  width: 90px;
  height: 40px;
  background-color: rgb(244, 164, 208);
  display: block;
  font-size: x-large;
  text-align: center;
  margin-left: 150px;
  margin-top: 150px;
}

/* messages div  */
.messagesDiv {
  width: 650px;
  background-color: aliceblue;
  border: 3px solid rgb(164, 164, 244);
  margin: auto;
  padding: 50px;
  font-size: large;
}

.clickable {
  padding: 10px;
  margin-left: 50px;
  color: #333;
  background: #fafafa;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
}

.bar {
  padding: 10px;
  margin: 20px auto;
  color: #333;
  background: #fafafa;
  border: 1px solid #ccc;
  width: 300px;
}

/* to hide the checkbox  */
.hide {
  display: none;
}

.popup {
  margin-top: 50px;
  border: 1px solid #ccc;
  visibility: hidden;
  position: relative;
}

.popupClose {
  position: absolute;
  right: 5px;
  cursor: pointer;
}

.hide:checked ~ .popup {
  visibility: visible;
}

.success {
  background-color: rgb(153, 242, 152);
}
.warning {
  background-color: rgb(255, 251, 209);
}
.error {
  background-color: rgb(231, 132, 115);
}

/* padding between msg type symbol and mse text */
.messagesDiv i {
  padding-right: 10px;
}

/* symbol x in every message */
.messagesDiv span {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right; /* make close button to the right of the bar */
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  /* transition: 0.3s; */
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* to change close button for info bar to black  */
.info span {
  color: black;
  font-weight: lighter;
}
