/* button type list which appear when move over button */
.buttonType {
  display: none;
  background: rgb(244, 164, 208);
  width: 200px;
  list-style-position: inside;
  padding-top: 2px;
  border: 2px solid rgb(244, 164, 208);
}

.button:hover .buttonType {
  display: grid; /* to click just on button text not on all button's text div */
  padding: 0; /* to remove the padding before li marker */
}

/* to make button list item with blue background when move over them */
.buttonType li:hover{
  background-color: rgb(153, 197, 255);
}

/* the name head of button div */
 .buttonSectionHead {
    width: 90px;
    height: 40px;
    background-color: rgb(244, 164, 208);
    text-align: center;
    margin-top: 150px;
    font-size: x-large;
  } 
  
  .buttonSectionDiv {
    width: 600px;
    background-color: aliceblue;
    border: 3px solid rgb(164, 164, 244);
    font-size: x-large;
  }

  #buttonSection div{
    display: block;
    margin-left: 200px;

  }
  /* to make the list items marker inside the list div  */
  .buttontypes {
    /* list-style-position: none; */
    list-style: none;
  }

  .buttontypes li {
   margin-top: 15px;
  } 

  .buttontypes span{
    font-size: large;
  }
 
  
  .buttontypes button {
    width:80px ;
    height: 35px;
    margin-left: 10px;
    border: 1px solid #ccc;  
    border-radius: 5px;  
    background: #fafafa;

  }

/* the buttons */
  /* .standard .std {
    width:80px ;
    height: 35px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(153, 197, 255);

  }

  .function button{
    width:80px ;
    height: 35px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(153, 197, 255);

  }

  .positive button{
    width:80px ;
    height: 35px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(153, 197, 255);

  }
  .negative button{
    width:80px ;
    height: 35px;
    margin-left: 10px;
    border-radius: 5px;
    background-color: rgb(153, 197, 255);


  } */

  