.meny {
  background-color: rgb(153, 197, 255);
  box-sizing: border-box;
  width: 25%;
  height: 100vh;
  overflow: auto;
}

.details {
  background-color: rgb(244, 164, 208);
  width: 75%;
  height: 100vh;
  box-sizing: border-box;
  overflow: auto;
}

/* to make meny div and details div in the same inline block elements without div inside details div */
body div:not(.details div) {
  display: inline-block;
}

body {
  background-color: rgb(164, 164, 244);
  border: aliceblue 5px solid;
}

.meny a {
  color: black;
  text-decoration: none; /* without underline */
}
.mainList {
  font-size: x-large;
  list-style-type: none;
}
.mainList ul {
  font-size: large;
}

.contactInfo a {
  color: blue;
  font-size: medium;
}

.totop a{
    text-decoration: none;
    color: black;
}

.totop {
    margin: 40px;
    
}
