#tableSectionHead {
  width: 90px;
  height: 40px;
  background-color: rgb(244, 164, 208);
  display: block;
  font-size: x-large;
  text-align: center;
  margin-left: 90px;
  margin-top: 150px;
}

.tablesSection {
  width: 800px;
  background-color: aliceblue;
  border: 3px solid rgb(164, 164, 244);
  font-size: large;
  margin: auto;
  /* margin-top: 150px; */
  padding: 30px;
  text-align: center;
}

.tablesSection table {
  display: inline-table;
  margin: 20px;
}

.manyRowsTable,
th,
td,
tr {
  border: black 1px solid;
  border-collapse: collapse;
}

.manyRowsTable tr:nth-child(even) {
  background-color: rgb(223, 212, 212);
}

.manyColumnsTable,
th,
td,
tr {
  border: black 1px solid;
  border-collapse: collapse;
}
.manyColumnsTable tr:nth-child(even) {
  background-color: rgb(223, 212, 212);
}

.tableTypes {
  display: none;
  background: rgb(244, 164, 208);
  width: 200px;
  list-style-position: inside;
  padding-top: 2px;
  border: 2px solid rgb(244, 164, 208);
}
.table:hover .tableTypes {
  display: grid;
  padding: 0;
}

.tableTypes li:hover{
    background-color: rgb(153, 197, 255);

}